.mainPromise{
width: 100%;
height: 100vh;
background-color: gray;
&__promise{
width: 100%;
height: 100vh;
background-image: url(/Assets/mercsrodek.png);
background-position-x:40%;
background-attachment:fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;

  margin-bottom: 10px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  position: relative;
  overflow: hidden;
}
&__Txt{

    text-align: center;
    display: flex;
    flex-basis: 80%;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;


}
&__h2{

    font-size: 1.5em;
    line-height: 3em;
    border-bottom: 3px solid red;

}
&__a{

    display: block;
    text-decoration: none;
    font-size: 30px;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.836);
    color: white;
    overflow: hidden;
    box-shadow: 8px 8px 10px 3px black;
font-family: monospace;
font-weight: bolder;

}

}




.animation span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #0c002b, red);
    animation: animate1 2s linear infinite;
    animation-delay: 1s;
  }
  
  @keyframes animate1 {
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(100%);
    }
  }
  
  .animation span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #0c002b, red);
    animation: animate2 2s linear infinite;
  }
  @keyframes animate2 {
    0% {
      transform: translateY(-100%);
    }
  
    100% {
      transform: translateY(100%);
    }
  }
  
  .animation span:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to left, #0c002b, red);
    animation: animate3 2s linear infinite;
    animation-delay: 1s;
  }
  @keyframes animate3 {
    0% {
      transform: translateX(100%);
    }
  
    100% {
      transform: translateX(-100%);
    }
  }
  .animation span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, red);
    animation: animate4 2s linear infinite;
    animation-delay: 2s;
  }
  @keyframes animate4 {
    0% {
      transform: translateY(100%);
    }
  
    100% {
      transform: translateY(-100%);
    }
  }
  