.mainFooter {
  width: 100%;
  height: 10vh;
  background-color: black;
  text-align: center;
  line-height: 10vh;
  
  position: relative;
  &__h1 {
    color: white;
    text-align: center;
    line-height: 10vh;
    font-size: 1.3em;
    font-family: monospace;
  }
}
